<?xml version="1.0"?>
<launch>

	<!-- Nodelets -->
	<node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>

	<include file="$(find hypermap)/launch/cob_image_flip_missing.launch">
		<arg name="camera_name" value="torso_cam3d_right"/>
		<arg name="nodelet_manager" value="nodelet_manager"/>
		<arg name="start_manager" value="false"/>
	</include>

	<include file="$(find hypermap)/launch/cob_image_flip_missing.launch">
		<arg name="camera_name" value="torso_cam3d_left"/>
		<arg name="nodelet_manager" value="nodelet_manager"/>
		<arg name="start_manager" value="false"/>
	</include>

</launch>
