<?xml version="1.0"?>
<launch>
	<!-- params -->
	<param name="use_sim_time" type="bool" value="true" />

	<!-- args -->
	<arg name="robot" value="cob4-8"/>
	<arg name="map" value="/home/zaenket1/map_lab_test/map.yaml"/>

	<!-- upload robot description -->
	<include file="$(find cob_hardware_config)/upload_robot.launch">
		<arg name="robot" value="$(arg robot)"/>
	</include>
	<!-- upload semantic description -->
	<include file="$(find cob_moveit_config)/launch/upload_config.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="load_semantic_description" value="true"/>
		<arg name="load_planning_context" value="false"/>
	</include>
	<!-- upload default configuration parameters -->
	<include file="$(find cob_default_robot_config)/upload_param.launch">
		<arg name="robot" value="$(arg robot)"/>
	</include>

	<!-- start rviz with configuration -->
	<node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find hypermap)/config/rviz_semmapping.rviz" respawn="false" output="screen" />

	<!-- Nodes needed for semantic mapping -->
	<include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="map" value="$(arg map)"/>
	</include>

	<include file="$(find darknet_ros)/launch/yolo_v3.launch">
	</include>

</launch>
